* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "DM Sans", sans-serif;
}

body {
  width: 100%;
  height: 100vh;
  background-color: #d9dbd4;
}

.green-banner {
  height: 15vh;
  background-color: #009688;
}

#boolzapp {
  position: absolute;
  top: 3vh;
  left: max(10%, calc((100% - 1200px) / 2));
  height: 94vh;
  width: min(80%, 1200px);
  margin: auto;
  border-radius: 10px;
  display: flex;
  background-color: #eaeaea;
}

.left-side {
  width: 40%;
  /* border-right: 1px solid #b1b1b1; */
  display: flex;
  flex-direction: column;
}

.profile {
  display: flex;
  align-items: center;
  padding: 0.5rem;
  border-right: 1px solid #ddd;
}

img {
  width: 50px;
  border-radius: 50%;
}

.profile h1 {
  padding-left: 0.2rem;
  flex-grow: 1;
  font-size: 0.9rem;
}

.icons i {
  padding: 0.2rem;
  color: #b1b1b1;
}

.banner {
  background-color: #8edafc;
  padding: 0.7rem;
  display: flex;
  align-items: center;
}

h2 {
  font-size: 0.8rem;
  line-height: 0.8rem;
}

.notification-message {
  padding-left: 0.5rem;
  flex-grow: 1;
}

.notification-message a {
  color: #888;
  font-size: 0.8rem;
}

.notification-icon i {
  padding: 0.8rem 0.6rem;
  border-radius: 50%;
  background-color: white;
  color: #8edafc;
  font-size: 1.2rem;
}

.search-bar {
  padding: 0.5rem;
  display: flex;
  background-color: #fafafa;
}

.search-bar i {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  border-left: 1px solid #eee;
  font-size: 0.8rem;
  padding: 0.5rem 1.5rem;
  color: #b1b1b1;
  background-color: white;
}

.search-bar input {
  flex-grow: 1;
  border: 1px solid #eee;
  padding-left: 0.5rem;
}

.contacts {
  background-color: white;
  flex-grow: 1;
  border-bottom-left-radius: 10px;
  overflow-y: scroll;
}

.contact {
  padding: 0.5rem;
  display: flex;
  border-bottom: 1px solid #eee;
}

.name-last-message {
  flex-grow: 1;
  padding-left: 0.5rem;
}

.name-last-message h1 {
  font-size: 0.9rem;
}

.name-last-message p,
.date {
  font-size: 0.7rem;
  color: #b1b1b1;
}

.right-side {
  width: 60%;
  display: flex;
  flex-direction: column;
}

.right-side .profile {
  border: none;
  padding-right: 1rem;
}

.messages-box {
  flex-grow: 1;
  background-image: url("../img/mine.jpg");
  overflow-y: scroll;
}

.type-message {
  background-color: #f3eeea;
  padding: 0.5rem;
  display: flex;
  align-items: center;
}

.type-message i {
  color: #888;
  padding: 0 1.5rem;
  font-size: 1.2rem;
}

.type-message input {
  border: none;
  flex-grow: 1;
  font-size: 0.5rem 0.8rem;
  padding: 0.8rem;
  border-radius: 5px;
}
