<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boolzapp</title>
    <link rel="icon" href="https://boolean.careers/favicon/favicon.ico">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="css/style.css"/>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="js/script.js" defer></script>
</head>
<body>
    <div class="green-banner"></div>
    <div id="boolzapp">
        <div class="left-side">
            <div class="profile">
                <img src="img/avatar_io.jpg" alt="profile-pic">
                <h1>Sofia</h1>
                <div class="icons">
                    <i class="fa-solid fa-circle-notch"></i>
                    <i class="fa-solid fa-message"></i>
                    <i class="fa-solid fa-ellipsis-vertical"></i>
                </div>
            </div>
            <div class="banner">
                <div class="notification-icon">
                    <i class="fa-solid fa-bell-slash"></i>
                </div>
                <div class="notification-message">
                    <h2>Ricevi notifiche di nuovi messaggi</h2>
                    <a href="#">Attiva notifiche desktop</a>
                </div>
            </div>
            <div class="search-bar">
                <i class="fa-solid fa-magnifying-glass"></i>
                <input type="text" placeholder="Cerca o inizia una nuova chat" v-model="searchBar">
            </div>
            <div class="contacts">
                <div class="contact" v-for="contact in filteredContacts" @click="setActiveContact(contact)">
                    <img :src="imgURLAvatar(contact.avatar)" :alt="'pic-contact' + contact.avatar">
                    <div class="name-last-message">
                        <h1>{{ contact.name }}</h1>
                        <p>{{ lastMessage(contact) }}</p>
                    </div>
                    <div class="date">
                        {{ returnHour(returnLastHour(contact)) }}
                    </div>
                </div>
            </div>
        </div>
        <div class="right-side">
            <div class="chat-selected" v-if="activeContact">
                <div class="profile">
                    <img :src="imgURLAvatar(activeContact.avatar)" :alt="'pic-avatar'+ activeContact.avatar">
                    <div class="contact-info">
                        <h1>{{ activeContact.name }}</h1>
                        <p>Ultimo accesso oggi alle 12:00</p>
                    </div>
                    <div class="icons">
                        <i class="fa-solid fa-magnifying-glass"></i>
                        <i class="fa-solid fa-paperclip"></i>
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                    </div>
                </div>
                <div class="messages-box">
                    <div class="single-message" v-for="message in activeContact.messages" 
                        :class="message.status" @click="showModal(message.modalActive)">
                        <p class="display-message">{{message.modalActive}} {{ message.message }}</p>
                        <p class="display-hour">{{ returnHour(message.date) }}</p>
                        <div v-if="message.modalActive" class="modal">
                            <div>
                                <i class="fa-solid fa-info"></i>
                                <span>infos</span>
                            </div>
                            <div>
                                <i class="fa-regular fa-trash-can"></i>
                                <span>delete</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="type-message">
                    <i class="fa-regular fa-face-smile"></i>
                    <input type="text" placeholder="scrivi un messaggio" v-model="newMessage" @keyUp.enter="pushNewMessage(activeContact)">
                    <i class="fa-solid fa-microphone"></i>
                </div>
            </div>
            <div class="chat-unselected" v-else>
                <p>select a chat to start messaging</p>
            </div>
        </div>
    </div>
</body>
</html>
